# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: name-tests-test
  - repo: "https://github.com/asottile/setup-cfg-fmt"
    rev: v1.20.1
    hooks:
      - id: setup-cfg-fmt
        args:
          - "--min-py3-version=3.8"
  - repo: "https://github.com/asottile/reorder_python_imports"
    rev: v3.1.0
    hooks:
      - id: reorder-python-imports
        args:
          - "--add-import"
          - "from __future__ import annotations"
          - "--py38-plus"
  - repo: "https://github.com/asottile/pyupgrade"
    rev: v2.34.0
    hooks:
      - id: pyupgrade
        args:
          - "--py38-plus"
  - repo: "https://github.com/psf/black"
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - "--target-version=py38"
          - "--target-version=py39"
          - "--target-version=py310"
  - repo: "https://github.com/pre-commit/mirrors-mypy"
    rev: v0.961
    hooks:
      - id: mypy
        args:
          - "--python-version=3.8"
          - "--disallow-untyped-defs"
          - "--disallow-incomplete-defs"
        additional_dependencies:
          - types-setuptools
  - repo: "https://github.com/PyCQA/flake8"
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: "https://github.com/PyCQA/pydocstyle"
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        args:
          - "--convention=numpy"
          - "--explain"
          - "--source"
        additional_dependencies:
          - toml
        exclude: example.py
